@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@layer base {
  body {
    @apply bg-[#ecf0f3] text-[#1f2937] tracking-wide overflow-x-hidden;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }

  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl;
  }

  h2 {
    @apply text-3xl sm:text-4xl md:text-5xl;
  }
  h3 {
    @apply text-2xl sm:text-3xl md:text-4xl;
  }

  li {
    @apply cursor-pointer;
  }

  button {
    @apply shadow-xl shadow-gray-400 rounded-xl uppercase bg-gradient-to-r from-[#5651e5] to-[#709dff] text-white;
  }

  input,
  textarea {
    @apply outline-none;
  }
  input:focus,
  textarea:focus {
    @apply border-blue-600;
  }
}

.text-style-blue {
  text-shadow: -3px -2px 1px #0099ff;
}
.text-style-red {
  text-shadow: 2px 1px 1px #ff3399;
}
